name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  specs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version:
          - '3.2'
          - '3.3'
          - '3.4'
        gemfile:
          - rails7.1
          - rails7.2
          - rails8.0
        include:
          - {ruby-version: '3.1', gemfile: 'rails6.1'}
          - {ruby-version: '3.1', gemfile: 'rails7.0'}
          - {ruby-version: '3.1', gemfile: 'rails7.1'}
          - {ruby-version: '3.2', gemfile: 'rails6.1'}
          - {ruby-version: '3.2', gemfile: 'rails7.0'}
          - {ruby-version: '3.3', gemfile: 'rails6.1'}
          - {ruby-version: '3.3', gemfile: 'rails7.0'}
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec

  specs_successful:
    name: Specs passing?
    needs: specs
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.specs.result == 'success' }}
          then
            echo "All specs pass"
          else
            echo "Some specs failed"
            false
          fi
